html{
    background-color: gray;
}

#main-navbar{
    background-color: black;
    overflow: hidden;
  }

  #navbar-container{
    float: left;
    width: 100%;
    position: relative;
  }
  
  #navbar-container ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
  }

  #navbar-container ul li{
    float: left;
    position: relative;
    right: 50%;
    display: block;
  }

  #navbar-container ul li a{
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
  }
  
  #navbar-container ul li a:hover{
    background-color: gray;
  }

 #index-body{
     text-align: center;
 }

 #index-body ul li{
     list-style-type: none;
 }

 #resume-body{
     text-align: center;
 }

 #resume-body ul li{
     list-style-type: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
 
 #resume-body li{
     font-weight: bold;
 }

 #resume-h1{
     font-weight: bold;
     color: red;
 }